.NavigationButton {
    color: inherit;
    text-decoration: inherit;
    // align-content: center;
    text-align: center;
    // display: flex;
    padding: 18px;
    // width: 100%;
}

.NavigationButton .icon {
    box-sizing: border-box;
}

.NavigationButton .focus {
    color: #972beb;
    font-size: 50px;
}