[Desktop Entry]
Type=Application
Exec={exec_path} {script_path} {args}
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Hydroponics System
Name=Hydroponics System
Comment[en_US]=https://github.com/cmasterx/Aerosol-Chamber-Research
Comment=https://github.com/cmasterx/Aerosol-Chamber-Research
