.NotificationBar {
    width: 100%;
    height: 30px;
    // background: #7272721c;
    background: linear-gradient(#29292942, #26262642);
    // background: linear-gradient(#292929, #262626);
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    font-weight: 600;
    // flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}