.auxiliary
{
    width: 100%;
    height: 100%;
}

.auxiliary button {
    height: 90px;
    width: 80%;
    margin: 10px;
    background-color: rgb(179, 56, 179);
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 28px;
}

.auxiliary p {
    margin: 10px;
}