
@keyframes slideInFromRight {
    0% {
      transform: translateX(30%);
      opacity: 20%;
    }
    90% {
        // transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
      opacity: 100%;
    }
  }
  

.SettingsScene {
    height: 100%;
    padding: 20px 30px;
    overflow: hidden;
    // background: rgb(52,73,94);
// background: linear-gradient(50deg, rgb(58, 58, 58) 0%, rgb(65, 65, 65) 100%);
}

.SettingsScene .slideInFromRight {
    animation: 0.15s ease-out 0s 1 slideInFromRight;
}

.SettingsScene .options {
    display: flex;
    flex-flow: column;
    padding: 20px;
    border: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    flex: 1;
}

.SettingsScene button {
//     background: linear-gradient(45deg, rgb(90, 93, 255) 0%, rgb(0, 68, 255) 100%);
//     border: none;
//     border-radius: 7px;
//     height: 30px;
//     margin: 2px 0 2px 0;
//     text-align: center;
//     text-decoration: none;
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
